version: '3.7'
services:
  node-app:
    build: ../node-app/
    ports:
      - "8080:4000"
  angular-app:
    build: ../angular-app/
    ports:
      - "80:80"
  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devdb
      MYSQL_USER: dev
      MYSQL_PASSWORD: password

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

  nagios:
    image: jasonrivers/nagios
    ports: 
      - "8082:80"

